.img-logo {
	max-width: 10em;
}
#carousel, .carousel-inner, .carousel-item {
	height: 100%;
}
/* <img class="d-block w-100"
						src="../../assets/images/photos/photo3.jpg"
						alt="Third slide">
					<div class="mask rgba-black-slight"></div> */
.carousel-item img {
	size: landscape !important;
	height: 100%;
	overflow: hidden;
}