<header>
	<mdb-navbar
		SideClass="navbar fixed-top navbar-expand-lg navbar-dark bambino-purple scrolling-navbar">
		<links> 
			<a href="#" class="navbar-brand">
				<img src="../../assets/images/logo.png" alt="BambinoCare" class="img-logo" />
			</a>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Servicios</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Nosotros</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Registrarse</a></li>
				<li class="nav-item"><a href="#" class="nav-link">IniciarSesión</a></li>
			</ul>
		</links> 
	</mdb-navbar>
	<mdb-carousel [isControls]="true" [animation]="'slide'" class="index-carousel"> 
		<mdb-slide>
			<div class="view hm-white-light">
				<img class="d-block w-100" src="../../assets/images/photos/photo1.jpg" alt="photo 1">
				<div class="mask waves-light" mdbRippleRadius></div>
			</div>
			<div class="carousel-caption">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col">
							<h1 class="title">{{ title }}</h1>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-12 col-md-5">
							<button class="btn btn-black btn-lg btn-block"><span class="d-none d-sm-inline-block">Nuestros</span> Servicios</button>
						</div>
						<div class="w-100 separator d-block d-md-none"></div>
						<div class="col-12 col-md-5">
							<button class="btn btn-black btn-lg btn-block">{{ loginButtonStr }}</button>
						</div>
					</div>
				</div>
			</div>
		</mdb-slide>
		<mdb-slide>
			<div class="view hm-white-light">
				<img class="d-block w-100" src="../../assets/images/photos/photo2.jpg" alt="photo 2">
				<div class="mask waves-light" mdbRippleRadius></div>
			</div>
			<div class="carousel-caption">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col">
							<h1 class="title">{{ title }}</h1>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-12 col-md-5">
							<button class="btn btn-black btn-lg btn-block"><span class="d-none d-sm-inline-block">Nuestros</span> Servicios</button>
						</div>
						<div class="w-100 separator d-block d-md-none"></div>
						<div class="col-12 col-md-5">
							<button class="btn btn-black btn-lg btn-block">{{ loginButtonStr }}</button>
						</div>
					</div>
				</div>
			</div>
		</mdb-slide>
		<mdb-slide>
			<div class="view hm-white-light">
				<img class="d-block w-100" src="../../assets/images/photos/photo3.jpg" alt="photo 3">
				<div class="mask waves-light" mdbRippleRadius></div>
			</div>
			<div class="carousel-caption">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col">
							<h1 class="title">{{ title }}</h1>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-12 col-md-5">
							<button class="btn btn-black btn-lg btn-block"><span class="d-none d-sm-inline-block">Nuestros</span> Servicios</button>
						</div>
						<div class="w-100 separator d-block d-md-none"></div>
						<div class="col-12 col-md-5">
							<button class="btn btn-black btn-lg btn-block">{{ loginButtonStr }}</button>
						</div>
					</div>
				</div>
			</div>
		</mdb-slide>
	</mdb-carousel>
</header>
<div class="content">AQUI VA EL CONTENIDO</div>

<footer class="footer">AQUI VA EL FOOTER</footer>