ul {
	padding-left: 1rem;
}
.img-logo {
  width: 10em;
}
.carousel-caption{
    height: 20%;
    margin: auto;
    position: absolute;
    top: 1em;
    left: 0;
    bottom: 1em;
    right: 0;
    color: white;
}
.title {
	color: black;
	font-weight: bold;
}
.view {
	width: 100%;
}
.separator {
	height: 1em;
}